body, html {
    /* background-image: url("./assets/question1.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0; */
}